#iOSTap {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 100000;
}

html,
body,
#render-target {
    height: 100%;
    margin: 0;
    padding: 0;
}

#midi-player-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#song-title {
    text-align: center;
    font-weight: bold;
    padding: 10px 2px;
}

#midi-player {
    display: flex;
    height: 100%;
}

#midi-player button {
    padding: 8px;
}

#midi-player .main-part {
    width: 100%;
    display: flex;
    align-self: flex-start;

    .progress-bar-wrapper {
        width: 100%;
        border: 1px solid #bbb;
        display: flex;

        .progress-bar {
            background-color: green;
        }
    }
}

#midi-player .mixer-part {
    display: flex;

    .voice-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        button.voice-button {
            font-weight: bold;

            &.muted {
                color: #bbb;
            }
        }

        .part-volume-wrapper {
            height: 100%;
            border: 1px solid #ccc;
            position: relative;
            min-width: 40px;
        }

        .part-volume-wrapper .volume-label-min,
        .part-volume-wrapper .volume-label-max {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            font-size: 0.8em;
        }
        .part-volume-wrapper .volume-label-min {
            top: 7px;
        }
        .part-volume-wrapper .volume-label-max {
            bottom: 7px;
        }

        .part-volume-wrapper .part-volume {
            background-color: #ccc;
            margin: 1px;
        }
    }
}

@media all and (max-width: 560px) {
    #midi-player {
        flex-direction: column;

        .mixer-part {
            height: 100%;
        }
    }
}
