#iOSTap {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 100000;
}

#midi-player {
    display: flex;
}

#midi-player .main-part {
    width: 100%;
    display: flex;

    .progress-bar-wrapper {
        width: 100%;
        border: 1px solid #bbb;
        display: flex;

        .progress-bar {
            background-color: green;
        }
    }
}

#midi-player .mixer-part {
    display: flex;

    .voice-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        button.voice-button {
            font-weight: bold;

            &.muted {
                color: #bbb;
            }
        }
    }
}

@media all and (max-width: 560px) {
    #midi-player {
        flex-direction: column;
    }
}
